

.App {
  text-align: center;
}

.card-overlay {
  height: 80px
}

.logo {
  height: 60px;
  margin-left: 20px;
}

.image {
  height: 275px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: green;
}


.download-btn {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;

}

.header_btns {
  text-align: center;
}

#resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline-style: solid;
  border-radius: 40px;
  width: 55%;
}



.qual-header {
  margin-top: 40px;
  outline-style: solid;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.footer-text {
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
}